body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  .navbar {
    background-color: white;
    height: 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #030303; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 50px; /* Ajustez la taille du logo selon vos besoins */
  }
  
  .logo-container img:last-child {
    width: 150px;
    margin-top: 10px;
    height: 20px; /* Ajustez la taille de l'image du nom du site selon vos besoins */
  }
  
  .account-container img {
    width: 30px; /* Ajustez la taille de votre icône de compte selon vos besoins */
    margin-right: 5px;
    vertical-align: middle;
  }
  .account-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .additional-element {
    background-color: orange; /* Fond orange */
    padding: 10px;
    margin-left: -900px;
    border-radius: 10px; /* Espace intérieur */
    display: flex;
    align-items: center;
  }
  
  .additional-element p {
    margin: 0;
    color: white; /* Couleur du texte */
  }
  .account-container p {
    margin: 0;
    vertical-align: middle;
  }
  .back-link {
    margin: 10px;
  }
  
  .back-link p a {
    color: blue;
    text-decoration: none;
  }

.tarifs {
  display: flex;
  align-items: center;
  color: rgb(5, 5, 5);
  padding: 5px;
}
.tarifs p:first-child{
    margin-left: 40px;
  }
.tarifs p:last-child{
  margin-left: 200px;
}
.orange-square {
    width: 50%; /* Largeur dépassant la moitié de la page */
    height: 480px; /* Hauteur de 100% de la hauteur de la vue */
    background-color: orange;
    position: absolute;
    top: 50p;
    left: 2%; /* Centre le carré horizontalement */
    /* Aligne le texte en colonne *//* Centre le texte horizontalement */
    padding: 10px; /* Ajout de rembourrage à l'intérieur du carré */
}
.square-text {
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    font-weight: 600;
    /* Ajustez la taille de la police selon vos besoins */
    /* Marge entre les lignes de texte */
  }
  .square-text p:first-child{
    margin-left: 5px;
  }
  .square-text p:last-child{
    margin-left: 60px;
  }
 
 input {
    color: black;
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    margin: 5px 0; /* Marge entre les labels */
    width: 80px;
    height: 30px; /* Largeur du premier label */
    border-radius: 5px;
  }
  
  input:last-child {
    margin-left: 40px;
    width: 300px; /* Largeur du deuxième label */
  }
  .size-text ,.weight-text ,.photo-text{
    color: black;
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    margin: 10px; /* Marge entre le texte et les inputs */
  }
  .size-text{
    margin-left: 5px;
  }

  label {
    color: white;
    font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
    margin-right: 15px; /* Marge entre les boutons radio */
  }
  .radio-group {
    display: flex;
    align-items: center;
    border: none;

  }
  .group input{
    border: none;
  }
  input[type="radio"] {
    transform: scale(0.5); /* Ajustez la valeur pour changer la taille du bouton radio */
  }
  
.radio-group label{
    margin-right: 1px;
    margin-left: -25px;
}
.custom-table {
    width: 50%;
    margin-top: 20px;
    background-color: bisque;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
  td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .small-cell {
    width: 5px; /* Ajustez la largeur de la première colonne */
  }
  
  .medium-cell {
    width: 20px; /* Ajustez la largeur de la deuxième colonne */
  }
  
  .large-cell {
    width: 30px; /* Ajustez la largeur de la troisième colonne */
  }
  
  .photo-section {
    display: grid;
    background-color: dimgray;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .photo-section p {
    color: white;
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    padding:2px;
    align-content: space-between;
  }
  .photo-section p:first-child{
   
    margin-left: 10px;
  }
  .photo-section p:last-child{
    margin-top: -10px;
    margin-left: 110px;
  }
  .white-section {
    width: 94%; /* Ajustez la largeur selon vos besoins */
    height: 30px;
    background-color: white;
    padding: 20px;
    margin-top: 20px; /* Marge entre la section blanche et le carré orange */
    position: relative;
    left: 0; /* Positionne la section blanche à gauche de la page */
    border: 1px dotted #333; /* Bordure pointillée avec une couleur définie (#333 pour le gris foncé) */
  }
  .white-section i {
    font-size: 24px; /* Ajustez la taille de l'icône selon vos besoins */
    margin-right: 10px; /* Marge à droite de l'icône */
  }
  .white-section p {
    margin-top: -25px;
    margin-left: 30px; /* Supprimer la marge par défaut du paragraphe */
  }
  .white-section p:first-child{
    color:darkblue;
  }
  .white-section p:last-child{
    margin-top: -15px;
    font-size: 10px;
    margin-left: 70px; /* Supprimer la marge par défaut du paragraphe */
  }
  .terms-section {
    width: 400px;
    height: 300px;
    background-color: white;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre en bas et à droite */
    padding: 20px;
    margin-top: 10px; /* Marge entre la section des conditions générales et la section précédente */
    margin-left: 1000px;
  }
  
  .terms-section {

    color: black; /* Couleur du texte */
  }
  .point_section{
    display: flex;
    align-items: center;
  }
  .terms-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .terms-section li {
    margin-bottom: 5px; /* Espacement entre les éléments de la liste */
  }
  
  .orange-button,.blue-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    margin-top: 160px;
    margin-left: 680px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
  }

  .blue-button {
    background-color: blue;
    margin-top: 100px;
    margin-left: 500px;
  }
  .tarifs img{
   margin-left: -22px;
}
.tarif-text{
  margin-left: 110px;
}

body {
	background: #E3E1E0;
}

.navbar {
	width: 100%;
	height: 60px;
	margin: auto;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}

.logo {
	width: 200px;
	margin-left: 50px;
	margin-top: 8px;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	right: 100px;
}

.navbar ul li a {
	text-decoration: none;
	color: #4C76C2;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: #E6AB53;
	position: absolute;
	left: 0;
	bottom: -3px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.navbar .fa-solid {
	padding-right: 10px;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: absolute;
    overflow: hidden;
    width: 860px;
    max-width: 100%;
    min-height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    padding-top: 20px;
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 10px 0 10px;
}

.container button {
    background-color: #E6AB53;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button1 {
    background-color: #4C76C2;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden, .container button1.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    height: 100%;
    background: linear-gradient(90deg, #E6AB53, #4C76C2);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

footer {
    background-color: #fff;
    color: #4C76C2;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}